// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import Compass
@import "compass";

// Variables
$black: #000;
$dark_grey: lighten($black, 10);
$color_mountain_mist_approx: #999999;
$white: #fff;
$white_20: rgba(255,255,255,0.2);

html, body {
	width: 100%;
	height: 100%;
}

h4 {
  margin-top: 20px;
}

p {
  line-height: 25px;
}

a, button {
	@include transition(all .2s linear);
}

.align-right {
	text-align: right;
}

#wrapper {
	padding-left: 0;
	transition: all 0.3s ease;

	&.toggled {
		padding-left: 250px;

		#sidebar-wrapper {
			width: 250px;

			.sidebar-nav {
				left: 0;
			}

			#menu-toggle i {
				@include transform(rotate(180deg));
			}
		}

		#page-content-wrapper {
			position: absolute;
			margin-right: -250px;
		}
	}
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	background: $black;
	transition: all 0.3s ease;

	.sidebar-nav {
		left: -250px;
		transition: all .3s ease;
	}

	#menu-toggle {
		z-index: 9999;
		background-color: $black;
		color: $color_mountain_mist_approx;
		text-align: right;
		position: absolute;
		right: -30px;
		width: 40px;
		@include border-radius(0 0 3px 0);
		border: none;
		@include transition(right 50ms linear);

		&:hover {
			right: -35px;
		}
	}
}

#page-content-wrapper {
	z-index: 2000;
	width: 100%;
	position: absolute;
	top: 32px;
	padding: 15px;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		text-indent: 20px;
		line-height: 40px;

		a {
			display: block;
			text-decoration: none;
			color: $color_mountain_mist_approx;

			&:hover {
				text-decoration: none;
				color: $white;
				background: $white_20;
			}
			&:active {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}

		i {
			text-indent: 0;
		}
	}

	> .sidebar-brand {
		height: 65px;
		font-size: 18px;
		line-height: 60px;
		a {
			color: $color_mountain_mist_approx;
			&:hover {
				color: $white;
				background: none;
			}
		}
	}

	.sidebarSub {
		background: $dark_grey;
		color: $color_mountain_mist_approx;
		font-weight: 600;

		ul {
			list-style: none;
			font-weight: 400;
			padding-left: 0;

			li {
				text-indent: 40px;
			}
		}
	}
}

.page-header {
	margin-top: 0;
}

.nav-tabs {
	margin-bottom: 20px;
}

div.alert-form {
	margin-top: 10px;
}

.amount {
	&.amount-credit {
		i {
			color: #8AC007;
		}
	}

	&.amount-debit {
		i {
			color: #DA0000;
		}
	}
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;

		&.toggled {
			padding-left: 0;

			#sidebar-wrapper {
				width: 0;

				.sidebar-nav {
					left: -250px;
				}
			}

			#page-content-wrapper {
				position: relative;
				margin-right: 0;
			}
		}
	}

	#sidebar-wrapper {
		width: 250px;

		.sidebar-nav {
			left: 0;
		}
	}

	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}
}